<ul class="list-group">
    <li class="list-group-item">Football</li>
    <li class="list-group-item">Cooking</li>
    <li class="list-group-item">Reading</li>
    <li class="list-group-item">Dancing</li>
    <li class="list-group-item">Badminton</li>
  </ul>